
// @use 'colors'

$primary-color: #333;

h1 {    
    color:red;
}

.span-test {
    position:relative;
    border:1px red solid;
    font-size:18px;
    

    &:after {
        content:"post-fix";
        position: relative;
        font-weight:bold;
        font-size:12px;
        color:red;
    }
}